<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Projects</h2>
    <span class="section__subtitle">Most recent work</span>
    <div class="contain mx-auto rounded-5">



        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
            effect="fade" navigation="true">
            <swiper-slide lazy="true" class="rounded-4">
                <div class="portfolio__content grid swiper-slide">
                    <img src="portfolio1.png" class="portfolio__img" />

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">
                            Hotel-Booking-Website
                        </h3>
                        <p class="portfolio__description">
                            This project is a hotel booking website that allows users to
                            book rooms in hotels. Users can view the available rooms, select
                            the room they want, and book it. The website also provides
                            information about the hotel, such as its location, amenities,
                            and services. Users can also view reviews and ratings of the
                            hotel before booking a room.
                        </p>
                        <a href="https://github.com/MoARABY"
                            class="button button--flex button--small portfolio__button me-2">
                            GitHub Repository
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                        <a href="https://venkateeshh.github.io/Weather-App/"
                            class="button button--flex button--small portfolio__button">
                            See Live
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>




            <swiper-slide lazy="true" class="rounded-4">
                <div class="portfolio__content grid swiper-slide">
                    <img src="portfolio1.png" class="portfolio__img" />

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">
                            codeZone Social Media platform
                        </h3>
                        <p class="portfolio__description">
                            codeZone is a social media platform for developers to connect
                            and share their work. Users can create a profile, add posts,
                            like and comment on posts, and follow other users. The platform
                            also has a chat feature that allows users to communicate with
                            each other. codeZone is built using the MERN stack and features
                            a responsive design.
                        </p>
                        <a href="https://github.com/MoARABY"
                            class="button button--flex button--small portfolio__button me-2">
                            GitHub Repository
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                        <a href="https://venkateeshh.github.io/Weather-App/"
                            class="button button--flex button--small portfolio__button">
                            See Live
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>



        </swiper-container>
    </div>
</section>